/* --------------------------------------------------------
	 Accordion and Toggle
-------------------------------------------------------- */

.accordion, .toggle {
    margin-bottom: 40px;
}

.accordion-wrp h6, .toggle-wrp h6 {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 18px 20px 16px 20px;
    background: #f6f6f6;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.accordion-wrp h6:after, .toggle-wrp h6:after {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px;
    font-size: 15px;
    line-height: .1;
    font-weight: normal;
    font-family: 'Web Symbols', sans-serif;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.accordion-wrp h6:after {
    content: 'É';
}

.accordion-wrp h6:hover:after {
    content: 'Ê';
    color: #fff;
}

.accordion-wrp.current h6:hover:after {
    content: 'Ç';
}

.accordion-wrp.current h6:after {
    content: 'Æ';
}

.toggle-wrp h6:after {
    content: 'À';
}

.toggle-wrp h6:hover:after {
    content: 'Á';
    color: #fff;
}

.toggle-wrp.current h6:hover:after {
    content: 'Ä';
}

.toggle-wrp.current h6:after {
    content: 'Ã';
}

.accordion-wrp h6:hover, .toggle-wrp h6:hover {
    background: #fec400;
    color: white;
}

.accordion-wrp .accordion-content, .toggle-wrp .toggle-content {
    padding: 16px 20px 25px 20px;
    display: none;
}

.accordion-wrp.current h6, .toggle-wrp.current h6 {
    background: #25292c;
    color: #fff;
}

.accordion-wrp.current h6:hover, .toggle-wrp.current h6:hover {
    background: #fec400;
}

.accordion-wrp.current .accordion-content, .toggle-wrp.current .toggle-content {
    display: block;
}



/* --------------------------------------------------------
	 Tabs
-------------------------------------------------------- */

.tabs {
    margin-bottom: 40px;
}

.tabs ul {
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #fec400;
    -webkit-font-smoothing: antialiased;
}

.tabs ul li {
    display: inline-block;
    padding: 11px 20px;
    margin-right: 5px;
    background: #f6f6f6;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.tabs ul li:last-child {
    margin-right: 0;
}

.tabs ul li:hover {
    background: #25292c;
    color: white;
}

.tabs ul li.current {
    background: #fec400;
    color: white;
}

.tabs .tab-content {
    background: #f6f6f6;
    padding: 16px 20px 25px 20px;
    display: none;
    font-family: 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs .tab-content.active{
    display: block;
    position: relative;
}

.tabs .tab-content-wrp{
    position: relative;
}

/* --------------------------------------------------------
	 Alerts
-------------------------------------------------------- */

.alert {
    position: relative;
    padding: 10px 35px 10px 14px;
    margin: 20px 0;
    background-color: #faf2cb;
    color: #c09853;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert h5 {
    margin: 0;
}

.alert .close {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
}

.alert-success {
    background-color: #c3e4b8;
    color: #468847;
}

.alert-danger,
.alert-error {
    background-color: #e7c1c0;
    color: #b94a48;
}

.alert-info {
    background-color: #b9dbee;
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}


/* --------------------------------------------------------
	 Close Button
-------------------------------------------------------- */

.close {
    float: right;
    font-size: 20px;
    font-family: 'Montserrat', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    opacity: .2;
    filter: alpha(opacity=20);
    -webkit-font-smoothing: antialiased;
}

.close:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=40);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/* --------------------------------------------------------
	 Info block
-------------------------------------------------------- */

.info-block {
    position: relative;
    overflow: hidden;
    margin: 30px 0;
    background: #25292c;
    color: #fff;
    padding: 35px 40px 25px 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.info-block img {
    display: block;
    width: 100%;
    max-width: intrinsic;
    margin: 5px 0 35px 0;
}

.ib-text {
    position: relative;
    padding-right: 30%;
}

.info-block a.btn {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -20px;
}

.info-block .btn.color:hover {
    background-color: #fff;
    color: #3e4349;
}

/* --------------------------------------------------------
	 Blockquote
-------------------------------------------------------- */

blockquote {
    margin: 30px 0;
    padding: 10px 0 6px 20px;
    border-left: 3px solid #fec400;
    -webkit-font-smoothing: antialiased;
}

blockquote p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 6px;
}

blockquote small {
    color: #939aa2;
    font-size: 12px;
}

cite {
    font-style: normal;
}

blockquote.small{
    margin: 0 0 30px 0;
}

blockquote.small p {
    font-size: 14px;
}

blockquote.small small {
    font-size: 12px;
}

/* --------------------------------------------------------
	 Tooltip
-------------------------------------------------------- */

.tooltip{
    position: absolute;
    top: -25px;
    margin-left: 50%;
    border-radius: 5px;
    display: none;
    z-index: 100;
    font-size: 11px;
    min-width: 100px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #25292c;
    border-radius: 4px;
    position: relative;
}

.tooltip-inner .tooltip-arrow {
    position: absolute;
    border-left: 7px solid rgba(113, 101, 58, 0);
    border-right: 7px solid rgba(113, 101, 58, 0);
    border-top: 7px solid #25292c;
    bottom: -5px;
    left: 40%;
}

/* --------------------------------------------------------
	 Forms
-------------------------------------------------------- */

form {
    margin: 0 0 20px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
}

input,
button,
select,
textarea {
    font-family: 'Montserrat', 'Trebuchet MS', sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 40px;
    padding: 6px 2px 4px 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input,
textarea,
.uneditable-input {
    width: 206px;
    padding: 8px 6px;
}

textarea {
    height: auto;
    padding: 10px 2px 4px 10px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background-color: #353a3e;
    border: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    background-color: #fff;
    color: #3e4349;
    outline: 0;
    outline: thin dotted \9;

}

input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    *margin-top: 0;
    /* IE7 */

    margin-top: 1px \9;
    /* IE8-9 */

    line-height: normal;
    cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

select,
input[type="file"] {
    height: 30px;
    /* In IE7, the height of the select element cannot be changed by height, only font-size */

    *margin-top: 4px;
    /* For IE7, add top margin to align select with labels */

    font-size: 15px;
}

select {
    width: 220px;
    border: 1px solid #d2d2d2;
    color: #3e4349;
}

select[multiple],
select[size] {
    height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #fff;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
    color: #999999;
    background-color: #1b1c1e;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .025);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .025);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .025);
    cursor: not-allowed;
}

.uneditable-input {
    overflow: hidden;
    #fff-space: nowrap;
}

.uneditable-textarea {
    width: auto;
    height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #939aa2;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #939aa2;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #939aa2;
}

.radio,
.checkbox {
    min-height: 20px;
    padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
    padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}

.input-mini {
    width: 60px;
}

.input-small {
    width: 90px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
}

.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"]{
    display: inline-block;
}

input,
textarea,
.uneditable-input {
    margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
}

input.span12, textarea.span12, .uneditable-input.span12 {
    width: 926px;
}

input.span11, textarea.span11, .uneditable-input.span11 {
    width: 846px;
}

input.span10, textarea.span10, .uneditable-input.span10 {
    width: 766px;
}

input.span9, textarea.span9, .uneditable-input.span9 {
    width: 686px;
}

input.span8, textarea.span8, .uneditable-input.span8 {
    width: 606px;
}

input.span7, textarea.span7, .uneditable-input.span7 {
    width: 526px;
}

input.span6, textarea.span6, .uneditable-input.span6 {
    width: 446px;
}

input.span5, textarea.span5, .uneditable-input.span5 {
    width: 366px;
}

input.span4, textarea.span4, .uneditable-input.span4 {
    width: 286px;
}

input.span3, textarea.span3, .uneditable-input.span3 {
    width: 206px;
}

input.span2, textarea.span2, .uneditable-input.span2 {
    width: 126px;
}

input.span1, textarea.span1, .uneditable-input.span1 {
    width: 46px;
}

.controls-row {
    *zoom: 1;
}

.controls-row:before,
.controls-row:after {
    display: table;
    content: "";
    line-height: 0;
}

.controls-row:after {
    clear: both;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
    float: left;
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
    padding-top: 5px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #26282a;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
    color: #a58218;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    color: #a58218;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
    border-color: #a58218;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
    border-color: #a58218;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a58218;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a58218;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a58218;
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
    color: #a4211f;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #a4211f;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    border-color: #a4211f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
    border-color: #a61f19;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a61f19;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a61f19;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a61f19;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
    color: #8da518;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    color: #8da518;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
    border-color: #8da518;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
    border-color: #8da518;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8da518;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8da518;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8da518;
}

.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline {
    color: #1dadea;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    color: #1dadea;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
    border-color: #1dadea;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
    border-color: rgba(82, 168, 236, .8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8);
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
    color: #a4211f;
    border-color: #ee5f5b;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

.form-actions {
    padding: 19px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
    border-top: 1px solid #d2d2d2;
    *zoom: 1;
}

.form-actions:before,
.form-actions:after {
    display: table;
    content: "";
    line-height: 0;
}

.form-actions:after {
    clear: both;
}

.help-block,
.help-inline {
    color: #25292c;
}

.help-block {
    display: block;
    margin-bottom: 10px;
}

.help-inline {
    margin-left: 6px;
    padding-bottom: 10px;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    vertical-align: middle;
    padding-left: 5px;
}

input.search-query {
    height: 22px;
    padding-right: 30px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
    display: none;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
    display: inline-block;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-right: 3px;
    margin-left: 0;
}

.control-group {
    margin-bottom: 10px;
}

legend + .control-group {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
    *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
    display: table;
    content: "";
    line-height: 0;
}

.form-horizontal .control-group:after {
    clear: both;
}

.form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}

.form-horizontal .controls {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
}

.form-horizontal .controls:first-child {
    *padding-left: 180px;
}

.form-horizontal .help-block {
    margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
    margin-top: 10px;
}

.form-horizontal .form-actions {
    padding-left: 180px;
}


/* --------------------------------------------------------
	 Buttons
-------------------------------------------------------- */

.btn {
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 11px 20px;
    background: #25292c;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    -webkit-font-smoothing: antialiased;
}

.btn:hover, .btn:focus {
    background: #fec400;
    color: #fff;
}

.btn.small {
    padding: 6px 12px;
    font-size: 10px;
}

.btn.large {
    padding: 12px 24px;
    font-size: 14px;
}

.btn.color {
    background: #fec400;
}

.btn.color:hover, .btn.color:focus {
    background: #25292c;
    color: #fff;
}

.btn.dark {
    background: #f6f6f6;
    color: #3e4349;
}

.btn.dark:hover, .btn.dark:focus {
    background: #25292c;
    color: #fff;
}

.btn.rounded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#buttons p {
    display: block;
    margin-bottom: 10px;
}

.btn:active {
    background: #fff !important;
    color: #fff !important;
    -webkit-transition: all 0s linear !important;
    -moz-transition: all 0s linear !important;
    -o-transition: all 0s linear !important;
    transition: all 0s linear !important;
}

button {
    padding: 10px 20px !important;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

button.small {
    padding: 4px 12px !important;
}

button.large {
    font-size: 14px;
    padding: 12px 24px !important;
}

button.search {
    position: relative;
    margin: 0;
    top: 2px;
    left: -28px;
    color: #25292c;
    font-size: 16px;
    padding: 0 !important;
    background: none;
}

button.search:hover {
    color: #fff;
    background: none;
}

.btn i {
    margin-right: 8px;
}


i.web-icon {
    font-family: 'Web Symbols', sans-serif;
    font-size: 30px;
    font-style: normal;
}

i.web-icon.big {
    font-family: 'Web Symbols', sans-serif;
    font-size: 30px;
}

i.web-icon.small {
    font-family: 'Web Symbols', sans-serif;
    font-size: 15px;
}


#icons .symbol {
    font-family: 'Web Symbols', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

#icons table {
    text-align: center;
}

#icons table i {
    font-size: 11px;
    color: #939aa2;
}

#icons table b {
    font-size: 12px;
}

#icons h3 {
    margin: 30px 0 20px 0;
}
