body, html {
  margin: 0;
  padding: 0;
  color: #f9f9f9;
  font-family: "Montserrat", Arial, sans-serif;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url('../images/background.jpg');
  background-size: cover;
  z-index: -1000;
}

#background-filter {
  @extend #background;
  z-index: -999;
  background: url('../images/pattern.png');
  background-size: 2px 2px;
}

header {
  display: block;
  height: 100%;
  width: 100%;

  .slogan {
    font-size: 6em;
    font-weight: 700;
    letter-spacing: -0.05em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .slogan-subtext {
    font-size: 2em;
    text-align: center;
    color: #a5a7ac;
    margin-bottom: 1em;
  }
}

nav {
  display: block;
  width: 100%;
  line-height: 4em;
  background: #25292c;

  &.fixed {
    position: fixed;
    top: 0px;
  }
}

section {
  display: block;
  width: 100%;
  background: #f9f9f9;
  color: #3e4349;
  padding-top: 10em;
  padding-bottom: 10em;
  line-height: 1.3;

  &:nth-of-type(2n){
    background: #25292c;
    color: #f9f9f9;
  }

  h1 {
    text-transform: uppercase;
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-bottom: 2em;
  }
  h2 {
    @extend h1;
    font-size: 1.5em;
    text-transform: none;
  }
}

#about {
  .logo {
    float: left;
    margin-right: 1em;
  }
  h2 {

  }
}

#contact {
  background: #fec400;
  color: #f9f9f9;
  text-align: center;

  .address {
    .email {
      font-size: 2.5em;

      &:before {
        font-family: 'FontAwesome';
        content: "\f003 ";
        margin-right: 1em;
      }
    }

    .phone {
      @extend .email;
      &:before {
        content: "\f095 ";
      }
    }
  }
}

#services {
  .package {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .padding {
    background: #3e4349;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover {
      background: lighten(#3e4349, 5%);
    }
  }
}

.container {
  width: 80%;
  min-width: 400px;
  max-width: 900px;
  margin: 0 auto;
}

.text-yellow {
  color: #fec400;
}
.text-white {
  color: #f9f9f9;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.col-box {
  width: 100%;
  @extend %clearfix;

  .col {
    width: (100%/3);
    float: left;

    @media(max-width: (800px / 0.8)) {
      width: 50%;
    }

    @media(max-width: (600px / 0.8)) {
      width: 100%;
    }

  }
}

.padding {
  width: 90%;
  margin: 1em auto;
}
